<div *ngIf="server" class="card">
    <div class="card-block">
        <h4 class="card-title">{{server.HostName}} ({{server.ID}})</h4>
        <h6 class="card-subtitle text-muted">{{server.Description}}</h6>



        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Status</label>
            <div class="col-sm-10">
                <span [class]="classByStatus(server.Status)">{{server.Status}}</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Last ping</label>
            <div class="col-sm-10">
                <p class="form-control-static mb-0">{{server.LastPing | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">IPs</label>
            <div class="col-sm-10">
                <p class="form-control-static mb-0">{{server.IPs}}</p>
            </div>
        </div>
    </div>
</div>