<table class="table table-sm">
    <tr *ngFor="let server of Entities" [class.selected]="server === selectedServer" (click)="onSelect(server)" style="cursor: pointer;"
        [popover]="myPopover">
        <td>
            <popover-content #myPopover title="Server details" placement="bottom" [animation]="true" [closeOnClickOutside]="true">
                <server-detail [server]="server"></server-detail>
            </popover-content>
            <img *ngIf="server.Status > 0" src="html/imgs/green_24x24.png" />
            <img *ngIf="server.Status < 0" src="html/imgs/stop_24x24.png" />
        </td>
        <td>{{server.HostName}}</td>
    </tr>
</table>