<div *ngIf="server" class="card">
    <div class="card-block">
        <h4 class="card-title">{{server.HostName}} ({{server.ID}})</h4>
        <h6 class="card-subtitle text-muted"><span [class]="classByStatus(server.Status)">{{server.Status}}</span> {{server.Description}} </h6>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Last ping</label>
            <div class="col-sm-10">
                <p class="form-control-static mb-0">{{server.LastPing | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
            </div>
        </div>

        <ul class="list-group">
            <h5 class="list-group-item-heading">IP addresses</h5>
            <li *ngFor="let ip of server.IPs" class="list-group-item">{{ip}}</li>
        </ul>
    </div>
</div>