<div *ngIf="server" class="card">
    <div class="card-block">
        <h4 class="card-title">{{server.HostName}} ({{server.ID}})</h4>

        <h5>Status</h5>
        <h6 class="card-subtitle text-muted"><span [class]="classByStatus(server.Status)">{{server.Status}}</span> {{server.Description}} </h6>

        <h5>Last ping</h5>
        <h6 class="card-subtitle text-muted">{{server.LastPing | date: 'dd/MM/yyyy HH:mm:ss' }}</h6>

        <ul class="list-group">
            <h5 class="list-group-item-heading">IP addresses</h5>
            <li *ngFor="let ip of server.IPs" class="list-group-item">
                <h6 class="card-subtitle text-muted">{{ip}}</h6>
            </li>
        </ul>
    </div>
</div>