<div *ngIf="task">
	<div class="panel panel-default">
		<div class="panel-heading">Standard options</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="name">Name: </label>
				<input type="text" class="form-control" [(ngModel)]="task.Name" placeholder="Task name">
			</div>
			<div class="form-group">
				<label for="desc">Description: </label>
				<textarea class="form-control" rows="2" [(ngModel)]="task.Description"></textarea>
			</div>

			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" [(ngModel)]="task.ReenqueueOnDead">Reenqueue if hosting server dies</label>
				</div>
			</div>

			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" [(ngModel)]="localEnabled" (change)="changeConcurrencyLimit('local')">Local concurrency limit: </label>
					<input type="number" min="1" [(ngModel)]="task.ConcurrencyLimitSameInstance" [disabled]="!localEnabled">
				</div>
			</div>

			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" [(ngModel)]="globalEnabled" (change)="changeConcurrencyLimit('global')">Global concurrency limit: </label>
					<input type="number" min="1" [(ngModel)]="task.ConcurrencyLimitGlobal" [disabled]="!globalEnabled">
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">{{task.TypeToString()}} task options</div>
		<div class="panel-body">
			<div *ngIf="task.Type === taskType.Wait">
				<task-wait [task]="task"></task-wait>
			</div>
			<div *ngIf="task.Type === taskType.TSQL">
				<task-tsql [task]="task"></task-tsql>
			</div>
			<div *ngIf="task.Type === taskType.PowerShell">
				<task-powershell [task]="task"></task-powershell>
			</div>
			<div *ngIf="task.Type === taskType.SSIS">
				<task-ssis [task]="task"></task-ssis>
			</div>
		</div>
	</div>

	<div *ngIf="lastError" class="alert alert-danger">
  		<strong>Failure:</strong> {{lastError}}
	</div> 

	<button type="button" class="btn btn-primary" (click)="persistTask()" [disabled]="!buttonEnabled">Persist changes</button>
	<img src="html/imgs/wait_24x24.gif" *ngIf="!buttonEnabled">
</div>