<div class="form-group">
	<label>SQL Server version</label>
	<input type="number" class="form-control" min="110" [(ngModel)]="task.SQLVersion">
</div>

<div class="form-group">
	<label>Arguments</label>
	<textarea class="form-control" rows="3" [(ngModel)]="task.Arguments" placeholder="SSIS Arguments"></textarea>
</div>

<div class="form-group">
	<label>Timeout</label>
	<input type="number" min="0" class="form-control" [(ngModel)]="task.Timeout">
</div>

<div>
	<input type="checkbox" [(ngModel)]="task.Use32Bit">	32 bit
</div>