<button type="button" class="btn btn-primary" (click)="createNewSecret()">New secret</button>
<div *ngIf="selectedSecret">
    <secret-detail [secret]="selectedSecret"></secret-detail>
</div>

<div class="alert alert-danger" role="alert" *ngIf="lastError">
    <strong>Oh snap!</strong> {{lastError}}
</div>

<div *ngIf="secrets">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Name</th>
                <th>Certificate thumbprint</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sec of secrets" [class.selected]="sec === selectedSecret" (click)="onSelect(sec)" style="cursor: pointer;">
                <td>{{sec.ID}}</td>
                <td>{{sec.CertificateThumbprint}}</td>
                <td>
                    <button type="button" class="btn btn-default" title="Delete" (click)="deleteSecret(sec)"><img src="html/imgs/delete_24x24.png" /></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>