<button type="button" class="btn btn-primary" (click)="createNewSecret()">New secret</button>
<div *ngIf="secrets">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Certificate thumbprint</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sec of secrets" [class.selected]="sec === selectedSecret" (click)="onSelect(sec)">
                    <td>{{sec.ID}}</td>
                    <td>{{sec.CertificateThumbprint}}</td>
                </tr>
                <tr *ngIf="selectedSecret">
                    <secret-detail [secret]="selectedSecret"></secret-detail>
                </tr>
            </tbody>
        </table>
    </div>
</div>