<div *ngIf="secret" class="card">
    <div class="card-block">
        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control" placeholder="Secret name" [(ngModel)]="secret.ID">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Certificate Thumbprint</span>
            <input type="text" class="form-control" placeholder="Certificate thumbprint" [(ngModel)]="secret.CertificateThumbprint">
        </div>
        <div class="input-group">
            <span class="input-group-addon">Plain text value</span>
            <textarea class="form-control" rows="5" placeholder="Plain text value" [(ngModel)]="secret.PlainTextValue" required></textarea>
        </div>
        <div *ngIf="lastSuccess" class="alert alert-success">
            {{lastSuccess}}
        </div>
        <div *ngIf="lastError" class="alert alert-danger">
            <strong>Failure:</strong> {{lastError}}
        </div>
        <button type="button" class="btn btn-primary btn-block" (click)="persistSecret(secret)">Persist changes</button>
    </div>
</div>