<div *ngIf="executions">
    <div class="table-responsive" *ngIf="executions.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <th>Inserted</th>
                    <th *ngIf="executions[0].Status > 200">Last update</th>
                    <th *ngIf="executions[0].Status > 200">Elapsed</th>
                    <th>Return code</th>
                    <th>Schd</th>
                    <th>Server ID</th>
                    <th>Task ID</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let exec of executions">
                    <td>{{exec.Inserted | date : 'yyyy/MM/dd HH:mm:ss'}}</td>
                    <td *ngIf="executions[0].Status > 200">{{exec.LastUpdate | date : 'yyyy/MM/dd HH:mm:ss'}}</td>
                    <td *ngIf="executions[0].Status > 200">{{exec.Elapsed/1000}} s</td>
                    <td>{{exec.ReturnCode}}</td>
                    <td>
                        <div *ngIf="!exec.ScheduleID">
                            <img src="html/imgs/send_to_queue_24x24.png" title="Direct enqueuing">
                        </div>
                        <div *ngIf="exec.ScheduleID">
                            {{exec.ScheduleID}}
                        </div>
                    </td>
                    <td>{{exec.ServerID}}</td>
                    <td>{{exec.TaskID}}</td>
                </tr>
        </table>
    </div>
</div>